
#scrollToTop {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: #ffffffc4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 1000;
}
#circi{
  background-color: #a9a9a9c4;
  border-radius: 50px;
  padding: 10px;
  font-size: 25px;
}

#scrollToTop.show {
    opacity: 1;
    visibility: visible;
}

#scrollToTop:hover {
    background: #dbdbddf3;
}

/* Кнопка чата */
#chatButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: #00a4b2;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatButton:hover {
    transform: scale(1.1);
}